.section1 {
    background: url(../images/image-banner/banner-collaborations.webp);
    background-size: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #333;
}

.section2 {
    background: url(../images/image-banner/banner-trayectory.webp);
    background-size: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px #333;
}

.h1-title-banner {
    @extend h1;
    text-align: center;
    padding: 50px;
    color: $color_2;
    font-size: 100px;
    text-shadow: 5px 5px rgb(40, 40, 40);
}